body
{
    margin: 0;
    padding: 0;
    background: #262626;
}
.frist
{
    padding-top:0px;
   width: auto;
    height: 70px;
    background:	rgb(75, 83, 81);
}
.all
{
    float: left;
}

.two 
{
    width: 600px;
    text-align: right;
    padding-right:400px ;
    padding-top:20px;
    padding-left:300px
}
.imge
{
    width: 70px;
    height:65px;
    float: right;
    padding-top:5px
}
#fname{
    min-width:500px;
    height:30px;
}

#instagram
{
    width: 20px;
    height: 20px;
    padding: 10px;
    padding-top:15px ;
    padding-right:3px ;

}

#twitter
{
    width: 20px;
    height:20px;
    padding: 10px;
    padding-top:15px ;
    padding-left:1px ;
    padding-right: 3px;

}
#github
{
    width: 20px;
    height:20px;
    padding: 10px;
    padding-top:15px ;
    padding-left:3px ;

}

#instagram:hover
{
    width: 50px;
    height:50px;
}
#github:hover
{
    width: 50px;
    height:50px;
}
#twitter:hover
{
    width: 50px;
    height:50px;
}
.article
{

    min-width:500px;
    float: left;
    background:rgb(158, 158, 158);
    padding: 15px;
    margin: 20px 200px 10px 30px  ;
    border-radius: 10px;
}
.div
{
    float: left;    
}
.mm{
    margin-left:700px;
    margin-top: 0px;
    margin-right: 100px;
    }

.h1
{
    float:left;
    margin-top:100px ;
    font-weight: bold;
    color: black;
}
.p1{
    background: darkkhaki;
    width:auto;
    padding: 5px;
    margin: 20px 2px 10px 10px  ;
}
.p2
{
    background-color:darkkhaki;
    width:auto;

    padding: 5px;
    margin: 20px 2px 10px 10px  ;
}
.p3
{
    background-color:darkkhaki;
    width:auto;
    padding: 5px;
    margin: 20px 2px 10px 10px  ;
}
